/* CSS For all the colors */

:root {
    --mdc-theme-primary: rgb(48, 115, 215);
    --mdc-theme-secondary: rgb(48, 114, 214);
    --mdc-theme-surface: #333;
    --mdc-checkbox-unchecked-color: var(--content-text-color);
    --progress-background: rgb(65, 65, 65);
    --outlined-button-color: rgba(255, 255, 255, 0.12);
    --switch-thumb-color: rgb(200, 200, 200);
    --switch-track-no-focus: rgb(50, 50, 50);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--content-text-color);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--header-text-color);
}

.mdc-dialog .mdc-dialog__title {
    color: var(--header-text-color);
}

.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: var(--darker-text-color);
}

.mdc-form-field > label {
    color: var(--darker-text-color);
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: var(--darker-text-color);
}

button.mdc-tab:not(.mdc-tab--active) .mdc-tab__icon {
    color: var(--darker-text-color);
}

button.mdc-tab:not(.mdc-tab--active) .mdc-tab__text-label {
    color: var(--darker-text-color);
}

.mdc-linear-progress__buffer-bar { /* Yes, the best idea you had, Google, was to hardcode the background to white */
    background-color: var(--progress-background);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) { /* This is also hardcoded... */
    background-color: var(--mdc-theme-surface);
}

.mdc-button--outlined:not(:disabled) { /* And it turns out the outlined button's outline is also hardcoded */
    border-color: var(--outlined-button-color);
}

/* MDC Switch */
.no-focus .mdc-switch.mdc-switch--checked .mdc-switch__track {
    background-color: var(--switch-track-no-focus);
}
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
    background-color: var(--switch-track-no-focus) !important;
}
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
    border-color: var(--switch-thumb-color);
}
.mdc-switch__track {
    border-color: var(--outlined-button-color);
    opacity: 1;
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
    border-color: var(--switch-thumb-color);
}